body {
	margin: 10px 0;
}

#input-area, #help {
	max-width: 50em;
	min-width: 600px; /*width of the chart*/
}

#fleet-counters :first-child div {
	text-align: center;
}

#fleet-counters :first-child .battle-side {
	color: dimgray;
}

#fleet-counters > .unit-selector-header {
	color: dimgray;
}

#clear-counters-defender {
	float: right;
	margin-left: 5px;
}

#button-help-collapse {
	float: right;
	margin-left: 5px;
}

#force-compute {
	display: none;
}

#compute-on-the-fly-label {
	display: none;
}

#sides-options {
	display: table;
	width: 100%;
}

#shared-options {
	display: table;
	width: 100%;
	text-align: center;
}
#options-collapse select.form-control {
	width: auto;
	display: inline;
}

#help h1 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

#help p, #help > div {
	margin: .3em 0em;
	clear: both;
}

#help .letter {
	width: 3em;
	text-align: center;
}

.unit-selector, .unit-selector-header {
	text-align: center;
}

.unit-selector.attacker-participates .counter-block[data-battle-side="attacker"] {
	background: #d8d8ff;
}
.unit-selector.attacker-participates.attacker-damageable .damaged[data-battle-side="attacker"] {
	background: #d8d8ff;
}

.unit-selector.defender-participates .counter-block[data-battle-side="defender"] {
	background: #d8d8ff;
}
.unit-selector.defender-participates.defender-damageable .damaged[data-battle-side="defender"] {
	background: #d8d8ff;
}

.unit-selector.attacker-participates.defender-participates .unit-name {
	background: #d8d8ff;
}

.unit-selector.attacker-participates .unit-name {
	background: linear-gradient(0.25turn, #d8d8ff, #d8d8ff 70%, white 90%, white );
}

.unit-selector.defender-participates .unit-name {
	background: linear-gradient(-0.25turn, #d8d8ff, #d8d8ff 70%, white 90%, white );
}

.unit-selector input {
	text-align: center;
	padding: 6px 0;
}

.unit-selector .unit-name {
	padding: 7px 0;
}

.unit-selector input[type=text].positive {
	font-weight: bold;
	color: green;
}

.unit-selector input[type=text].negative {
	font-weight: bold;
	color: red;
}

.unit-selector-header div:first-child, .unit-selector-header div:last-child {
	overflow: hidden;
	white-space: nowrap;
}

.unit-selector-header > div {
	padding: 6px 0;
}

/* stolen from http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-inputs-spin-box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#options label {
	font-weight: normal;
}

.damaged select.form-control{
	padding: 6px;
}

@media (max-width: 767px) {
	.row {
		margin-left: -2px;
		margin-right: -2px;
	}

	*[class*=col-] {
		padding-left: 2px;
		padding-right: 2px;
	}
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-xs-1,.col-xs-2{
	padding-left: 2px;
	padding-right: 2px;
}
